@import "./color_schemes/dark";

$color-scheme: dark_custom;
$body-background-color: #232323;
$body-heading-color: #ffd696;
$sidebar-color: #232323;
$link-color: #86cd92;
$table-background-color: #9b96ff05;